* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { width: 100%; height: 100%; font-size: 14px; }

.menu {
    height: 40px;
    line-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.box {
    height: 100%; width: 100%;
    padding-bottom: 10px;
    margin-top: 40px; }

.list {
    width: 200px;
    float: left;
    border-right: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.list .url {
    font-size: 13px;
    color: #333;
    line-height: 25px;
    height: 25px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    padding-left: 10px;
}

.list .url.loading {
    color: #999;
}

.view {
    overflow: hidden;
    width: calc(100% - 201px);
    height: 100%;
    float: right
}

.view textarea {
    width: 100%; height: 100%;
}
